Repository zeshuaro/appainter: changes, and which Codecov flags are due for each by the changed paths.
All: appainter, appainter_builder

fix: deprecated properties
  lib/font/widgets/font_picker.dart
Due: appainter

Notes added by 'git notes add'
  f1b54549e05a383b796950c3c1ae029ce4a70f7d
Due: none

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

ci(github-actions): install `libcurl4-openssl-dev` to build linux app
  .github/workflows/github-actions.yml
Due: none

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  1bc5c92d5e7e58f91152d7cdeb46ae8fcef465e5
Due: none

chore(deps): update dependency bloc_test to v10
  pubspec.lock
  pubspec.yaml
Due: none

chore(release): 2.3.2 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  4062f6ad281c1f8213b684d17d2d514bb6b2187a
Due: none

chore(release): v2.3.2
  flutter_bootstrap.js
  index.html
Due: none

fix: remove deprecated `dialogBackgroundColor`
  lib/color_theme/cubit/color_theme_cubit.dart
  lib/color_theme/cubit/color_theme_state.dart
  lib/color_theme/view/color_theme_editor.dart
  lib/home/widgets/export_button.dart
  lib/theme_preview/views/theme_preview.dart
  test/color_theme/color_theme_cubit_test.dart
  test/color_theme/color_theme_editor_test.dart
Due: appainter

fix: update support flutter version on home page
  lib/home/views/home_page.dart
Due: appainter

chore(release): 2.3.3 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  2f1a8e2d960e4cd1a664c480f237c5ed50c51632
Due: none

chore(release): 2.3.4 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  aa6cb037bae1e70875fad3e99715ac59cdb1f7ae
Due: none

fix(deps): update dependency json_theme to v8
  pubspec.lock
  pubspec.yaml
Due: none

chore(release): 2.3.5 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  23d8c08054002f1d7d27fb79c7a3e3bce37e7a5c
Due: none

fix: remove deprecated `dialogBackgroundColor
  lib/color_theme/cubit/color_theme_state.dart
Due: appainter

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  74cf4e045768ef263d4e7e66819c19707fb620a6
Due: none

style(web): splash screen with custom loader added for web
  web/index.html
Due: none

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package.json
  pubspec.yaml
Due: none

Notes added by 'git notes add'
  3ffffd39ec1990681a681cf4b3f2111c1ddf2cbe
Due: none

fix(deps): update code generation dependencies
  packages/builder/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: appainter_builder

chore(deps): dependencies maintenance
  macos/Podfile.lock
Due: none

test: update builder tests
  packages/builder/test/mocks.dart
Due: appainter_builder

fix: update text style cubit `styleChanged` to handle null style
  lib/abstract_text_style/cubit/abstract_text_style_cubit.dart
Due: appainter

style(web): splash screen with custom loader added for web
  web/index.html
  web/js/dynamic_splash.js
  web/style/style.css
Due: none

fix(deps): update code generation dependencies (#1532)
  lib/abstract_text_style/cubit/abstract_text_style_cubit.dart
  packages/builder/pubspec.yaml
  packages/builder/test/mocks.dart
  pubspec.lock
  pubspec.yaml
Due: appainter, appainter_builder

Path conditions:
  appainter: any of: lib/
  appainter_builder: any of: packages/builder/
